node_modules/
.env
.env.local

# contracts
contracts/cache/
contracts/artifacts/
contracts/out/
contracts/typechain-types/

# backend
backend/dist/
backend/node_modules/
backend/scripts/deployed-addresses.local.json
backend/scripts/deployed-addresses.testnet.json

# frontend
frontend/.next/
frontend/node_modules/

.DS_Store
